body {
  min-height: 970px;
  font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.project-list {
  position: absolute;
  padding: 16px;
  border-radius: 4px;
  background-color: #dedede;
}

.project-item {
  margin: 4px 0;
  padding: 4px 16px;
  font-size: 12px;
  color: #fff;
  background-color: #60B5AA;
}
.project-item:hover {
  background-color: #E4D63D;
  cursor: pointer;
}

.project-detail {
  position: absolute;
  padding: 16px;
  background: #dedede;
  border-radius: 4px;
  box-sizing: border-box;
}

.project-detail-btn {
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
  background: #60B5AA;
  text-decoration: none;
}